package lucide

templ CalendarChevronsRight(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="m13 21 3-3-3-3"></path>
		<path d="M16 2v3"></path>
		<path d="m19 21 3-3-3-3"></path>
		<path d="M21 11.5V5.05a2 2 0 00-2-2H5a2 2 0 00-2 2v14a2 2 0 002 2L9 21"></path>
		<path d="M3 9h18"></path>
		<path d="M8 2v3"></path>
	</svg>
}
