package lucide

templ MicSignal(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="M12 17v4"></path>
		<path d="M18 11a6 6 0 00-3-5.197"></path>
		<path d="M2 11a10 10 0 015-8.662"></path>
		<path d="M22 11a10 10 0 00-5-8.662"></path>
		<path d="M6 11a6 6 0 013-5.197"></path>
		<path d="M9 21h6"></path>
		<rect x="10" y="9" width="4" height="8" rx="2"></rect>
	</svg>
}
