package material

templ Align_horizontal_left_24px(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		enable-background="new 0 0 24 24"
		height="24"
		viewBox="0 0 24 24"
		width="24"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<rect fill="none" height="24" width="24"></rect><path d="M4,22H2V2h2V22z M22,7H6v3h16V7z M16,14H6v3h10V14z"></path>
	</svg>
}
