package material

templ Coffee_maker_sharp_24px(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		enable-background="new 0 0 24 24"
		height="24"
		viewBox="0 0 24 24"
		width="24"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<g><path d="M0,0h24v24H0V0z" fill="none"></path></g><g><g><path d="M18,7V4h2V2H4v20h16v-2h-4.03C17.2,19.09,18,17.64,18,16v-5H8v5c0,1.64,0.81,3.09,2.03,4H6V4h2v3H18z"></path><circle cx="13" cy="9" r="1"></circle></g></g>
	</svg>
}
