package material

templ Horizontal_split_two_tone_24px(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		height="24"
		viewBox="0 0 24 24"
		width="24"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="M0 0h24v24H0V0z" fill="none"></path><path d="M19 15v2H5v-2h14m2-10H3v2h18V5zm0 4H3v2h18V9zm0 4H3v6h18v-6z"></path><path d="M5 15h14v2H5z" opacity=".3"></path>
	</svg>
}
