package material

templ Keyboard_arrow_up_24px(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		height="24"
		viewBox="0 0 24 24"
		width="24"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="M0 0h24v24H0z" fill="none"></path><path d="M7.41 15.41 12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path>
	</svg>
}
