package material

templ Table_chart_sharp_24px(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		height="24"
		viewBox="0 0 24 24"
		width="24"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="M10 10.02h5V21h-5V10.02zM17 21h5V10h-5v11zm5-18H3v5h19V3zM3 21h5V10H3v11z"></path>
	</svg>
}
