package material

templ View_day_sharp_24px(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		height="24"
		viewBox="0 0 24 24"
		width="24"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="M0 0h24v24H0V0z" fill="none"></path><path d="M2 21h19v-3H2v3zM21 8H2v8h19V8zM2 3v3h19V3H2z"></path>
	</svg>
}
