package simpleicons

templ Netapp(attrs ...templ.Attributes) {
	<svg
		role="img"
		viewBox="0 0 24 24"
		xmlns="http://www.w3.org/2000/svg"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<title>NetApp</title><path d="M0 2v20h9.33V10h5.34v12H24V2Z"></path>
	</svg>
}
