package tablerfilled

// version: "2.0"
// unicode: "f691"
templ PlayerPlay(attrs ...templ.Attributes) {
	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="currentColor"
		if len(attrs) > 0 {
			{ attrs[0]... }
		}
	>
		<path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z"></path>
	</svg>
}
